    <footer>
      <div>
        <p class="text-center f5 mt-4 pt-4">&copy; 2024 - {{ site.time | date: '%Y' }} <span>3 Francs 6 sous</span></p>
      </div>
      <div>
        <a class="text-center f5 mt-4 pt-4" href="https://www.pappers.fr/entreprise/trois-francs-six-sous-812337749" target="_blank"><span>Association 3 Francs 6 Sous | 4, rue du stade | 17250 SAINT-PORCHAIRE</span></a>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

