    <footer>
      <div>
        <p class="text-center f5 mt-4 pt-4">&copy; {{ site.time | date: '%Y' }} <span>Seconde Nature</br>8, rue du bouil bleu 17250 SAINT-PORCHAIRE</br>SIRET : 94170299500015</span></p>
      </div>
      <!-- wait for helloasso
        <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/seconde-nature-la-vauzelle/adhesions/adhesion-2025/widget-bouton" style="width: 100%; height: 70px; border: none;"></iframe> 
       -->

      <a href="mailto:asso.seconde.nature@gmail.com" target="_blank" class="text-center">
        <span class="sr-only">Email</span>
        {% octicon inbox height:24 class:"fill-gray-light d-inline" aria-label:github-logo %}
      </a>
      <a href="https://www.facebook.com/groups/assosecondenature?locale=fr_FR" target="_blank" class="text-center">
        <span class="sr-only">Groupe Facebook</span>
        {% octicon comment-discussion height:24 class:"fill-gray-light d-inline" aria-label:github-logo %}
      </a>
      <a href="https://caa0e864.sibforms.com/serve/MUIFAAkZtm13vqLNVxCBn1ODeEMrbTWnkFlKSKvnvM0ZzvI0Z5LHZJ41t1SsNvJfsrJtU0Uh0_D3wfZDCWdvA5WkbP5HizK52pxCP7WBw2kmWBNGgu9mJfi1R_6zaEVYUs5Wqs0X0y9VeG9w4-ECSAISvQCINiTUGWEP_9x78VLMrF9Tz_m_jfS4e9MS6EyqZfJUAEVnDAJaywIT" target="_blank" class="text-center">
        <span class="sr-only">Newsletter</span>
        {% octicon comment-discussion height:24 class:"fill-gray-light d-inline" aria-label:github-logo %}
      </a>
      <a href="https://www.pappers.fr/entreprise/seconde-nature-941702995" target="_blank" class="text-center">
        <span class="sr-only">Mentions légales</span>
        {% octicon law height:24 class:"fill-gray-light d-inline" aria-label:github-logo %}
      </a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>

